.fab{
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.back{
    background: whitesmoke;
}

.buttons{
    background: lightgray;
}

.lineImage{
    height:90vh;
    width: 100%;
}

.lineImageDiv{
    padding: 1%
}

.listRemovePadding {
    padding: 0px !important;
}

.sectionBox {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px; 
}


