<md-dialog aria-label="Mango (Fruit)"  ng-cloak id="elementDialog">
  <form>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{item.name}} : {{item.description}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <ng-md-icon icon="close" size="24" ng-style="io.style"></ng-md-icon> 
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-list flex class="listRemovePadding">
            <md-list-item ng-style="item.style">
                {{item.status}}
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky" ng-hide="ios">IO Card not avaliable</md-subheader>
            <md-subheader class="md-no-sticky" ng-show="ios">IO Card State</md-subheader>
            <md-divider ng-show="ios"></md-divider>
            <div ng-repeat="io in ios">
                <md-list-item class="md-2-line">   
                <div class="md-list-item-text">
                    <h3 ng-style="io.style">{{io.description}} - {{io.stateDescription}}</h3>
                    <p ng-style="io.style">{{io.type}} {{io.pos}}.{{io.offset}}</p>
                </div>
                <ng-md-icon icon="power_settings_new" size="24" ng-style="io.style"></ng-md-icon> 
                </md-list-item>
            </div>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Manual Control</md-subheader>
            <md-divider></md-divider>
        </md-list>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="start start">
        <md-button class="md-raised">Stop</md-button>
        <md-button class="md-raised md-primary">Start</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>